/**
 * src/css/partials/_common.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package opdsblitz
 */
.container {
	display: flex;
	flex: 1;
	max-width: $global-width;
	padding: 3rem;
}

*,*::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


