.feeds-view {
}

.feeds {
	list-style: none;
	margin: 0;

}

.feed {

	display: flex;
	height: 100%;

	&__title {
		font-size: 16px;
		line-height: 1.25;
	}

	&__poster {
		width: 100%;
		max-width: 320px;
	}
}
