/**
 * main.scss
 */
//////////////////////////
//  Nord color palette  //
//////////////////////////
@import "../../node_modules/nord/src/sass/nord.scss";


//////////////////
//  Foundation  //
//////////////////

@import "foundation-settings";
@import "foundation";
@import "motion-ui";
@include foundation-everything;
// @include motion-ui-transitions;
// @include motion-ui-animations;
//
// @include foundation-forms;
// @include foundation-menu;
// @include foundation-dropdown-menu;
// @include foundation-drilldown-menu;
// @include foundation-accordion-menu;
// @include foundation-button;
// @include foundation-breadcrumbs;
// @include foundation-card;
// @include foundation-callout;
// @include foundation-pagination;
// @include foundation-tabs;
// @include foundation-orbit;

@include foundation-xy-grid-classes(
  /* options
  $base-grid: true,
  $margin-grid: true,
  $padding-grid: true,
  $block-grid: true,
  $collapse: true,
  $offset: true,
  $vertical-grid: true,
  $frame-grid: true
  */
);


//////////////////
//  Own styles  //
//////////////////

@import "bourbon";
@import "settings";

////////////////
//  Partials  //
////////////////

@import "partials/typography";
@import "partials/common";
@import "partials/header";
@import "partials/footer";
@import "partials/login";
@import "partials/feeds";


